.user-menu {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 83px;
}

.user-avatar-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.user-avatar-btn img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

/* DROPDOWN */
.user-dropdown {
    position: absolute;
    top: 48px;
    right: 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    width: 160px;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

/* ITEMS */
.user-dropdown a,
.user-dropdown button {
    padding: 10px 14px;
    text-align: left;
    background: none;
    width: 100%;
    font-size: 14px;
    color: var(--color-gris-oscuro);
    cursor: pointer;
    border: none;
}

.user-dropdown a:hover,
.user-dropdown button:hover {
    background: #f3f4f6;
}

/* LOGOUT */
.logout-btn {
    color: #b91c1c !important;
}
