.friend-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.friend-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.friend-profile img {
    width: 40px;
}

.friend-name {
    display: flex;
    flex-direction: column;
}

.btn-friend {
    background-color: var(--color-azul-oscuro);
    padding: 3px 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
}

.btn-friend:hover {
    background-color: #1e4b63;
}
