.avatar-picker {
    height: 524px;
}

/* AVATARES (SELECTOR) */
.wrap-avatar {
    padding-top: 30px;
    display: flex;
    gap: 15px;
}

.wrap-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
}

.wrap-avatar img.active {
    border-color: #22c55e;
}


/* PREVIEW AVATAR (PICKER) */
.preview-avatar {
    padding-right: 10px;
    border-right: 2px solid var(--color-gris-claro);
    display: flex;
    align-items: center;
}

.preview-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
}

/* MENSAJE DE GUARDADO CORRECTAMENTE */
.success-message {
    font-size: 14px;
    font-weight: 500;
}


/* DRAG & DROP UPLOAD */
.drag-drop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 276px;
    border: 2px dashed #ccc;
    border-radius: 12px;
    cursor: pointer;
    background: #f9f9f9;
    transition: all 0.2s ease;
}

.drag-drop span {
    font-weight: bold;
    color: var(--color-gris-oscuro);
}

.drag-drop:hover {
    background-color: var(--color-azul-claro);
}
