.title-password {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.form-edit-password {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-form-update-password {
    width: 500px;
}

.show-password {
    cursor: pointer;
}

.show-password i {
    padding-top: 4px;
}

.title-password h2 {
    font-size: 16px;
    color: var(--color-gris-oscuro);
}

.password-updated {
    margin-top: 10px;
    color: rgb(34, 197, 94);
}
