.wrap-profile-all {
    display: flex;
    justify-content: center;
    margin: 40px 0 50px;
}

.wrapper-profile {
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid var(--color-gris-muy-claro);
    width: 800px;
}

.profile-users-blade {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline: 10px;
}

.profile-users-blade img {
    border-radius: 100%;
}

.wrap-profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-users-sub {
    margin-right: 5px;
    margin-block: 5px;
}

.wrap-profile-content p {
    font-size: 18px;
}

.btn-profile-users {
    background: var(--color-azul-oscuro);
    border: none;
    padding: 5px 20px;
    margin-top: 5px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    color: var(--color-blanco);
    transition: 0.3s ease;
    box-shadow: 0 0 15px rgba(33, 82, 109, 0.5);
}

.btn-profile-users.following {
    background: var(--color-azul-claro);
    color: var(--color-gris-oscuro);
}

.btn-profile-users:hover {
    box-shadow: 0 0 25px rgba(33, 82, 109, 0.8);
    transform: translateY(-1px);
}

.wrap-profile-cat {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    padding-inline: 10px;
}

.wrap-profile-cat a {
    color: var(--color-gris-oscuro);
}

.profile-follow {
    margin-left: auto;
}

.bio-profile-user {
    margin-left: 10px;
    margin-top: 8px;
    color: var(--color-gris-oscuro);
    font-size: 15px;
}
