/* PERFIL SUPERIOR (INFO USUARIO) */
.wrap-profile-users {
    display: flex;
    justify-content: center;
}

.profile-users {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 1000px;
    padding-inline: 10px;
}

.profile-users img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.wrap-profile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrap-profile-content p {
    font-size: 18px;
    margin: 0;
}

.profile-users-sub {
    display: flex;
    gap: 8px;
    margin-block: 5px;
    font-size: 14px;
}

.biography {
    margin: 5px 0px 15px;
    padding: 0px 10px 10px;
    border-bottom: 2px solid var(--color-gris-muy-claro);
}

/* BOTON DELETE PROFILE */
.profile-users-actions {
    margin-left: auto;
    display: flex;
}

.content-delete-profile {
    display: flex;
    flex-direction: column;
}


/* MODAL: DELETE PROFILE */
ui-modal dialog {
    margin: auto;
}

ui-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

ui-modal dialog {
    animation: modalFade 0.2s ease-out;
}

@keyframes modalFade {
    from {
        opacity: 0;
        transform: scale(0.96);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-bnt-delete span {
    color: var(--color-blanco);
}
