body {
    margin-inline: 20px;
}

.wrap-main-nav {
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: 20px;
}

.main-nav {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.nav-logo {
    margin-right: auto;  
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
}

.auth-nav {
    margin-left: auto; 
    display: flex;
    gap: 15px;
}

.layout-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

