.content-home {
    display: flex;
}

.text-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 700px;
    width: 50%;
}

.social-web {
    background: var(--color-azul-claro);
}

.shop {
    background: var(--color-azul-oscuro);
    color: var(--color-blanco);
}

.text-home h2 {
    font-size: 24px;
    font-weight: bold;
}

.text-home p {
    margin-top: 5px;
    width: 502px;
}