/* Categorias */
.banner-categories {
    display: flex;
    justify-content: center;
    gap: 45px;
    width: 1500px;
    margin: 30px auto 50px;
    position: relative;
    border-bottom: 4px solid var(--color-gris-muy-claro);
}

.banner-categories {
    display: flex;
    justify-content: center;
    gap: 45px;
    border-bottom: 4px solid var(--color-gris-muy-claro);
}

.banner-categories-web {
    width: 752.5px;
}

.cat {
    position: relative;
    display: flex;
    font-weight: bold;
    color: var(--color-gris-oscuro);
    padding-bottom: 14px;
    text-decoration: none;
    align-items: center;
    gap: 5px;
}

.cat::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 4px;
    background: transparent;
}

.cat:hover,
.cat.active {
    color: var(--color-azul-oscuro);
}

.cat.active::after {
    background: var(--color-azul-oscuro);
}
