.input-box {
    position: relative;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.input-box input::placeholder {
    color: #888;
    font-weight: 400;
}

.input-box input:focus {
    outline: 2px solid #7494ec;
    box-shadow: 0 0 5px rgba(117, 148, 236, 0.5);
    transition: .1s;
}

.input-box i {
    color: #888;
    position: absolute;
    right: 20px;
    top: 22px;
    transform: translateY(-50%);
    font-size: 20px;
}

/* Mensaje de error */
.error-text {
    display: block;
    color: #b91c1c;
    font-size: 13px;
    margin-top: 5px;
}
