/* ===== SECCIÓN ===== */
.testimonial {
    padding-bottom: 20px;
    background: linear-gradient(to bottom, #fffdf5 0%, #f3efe5 50%, #fffdf5 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===== CONTENEDOR SWIPER ===== */
.testimonial-swiper {
    max-width: 680px;
    width: 100%;
    height: 405px;
}

/* ===== SLIDES ===== */
.swiper-slide {
    width: 320px !important;
    display: flex;
    justify-content: center;
}

/* ===== CARD ===== */
.testimonial-card {
    position: relative;
    width: 100%;
    height: 333px !important;
    background-color: #fafafa;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    padding: 40px 32px;
    border-radius: 30px;
    text-align: center;
    transition: transform .3s ease;
}

/* Escala del slide activo */
.swiper-slide-active .testimonial-card {
    transform: scale(1.05);
}

/* Imagen circular */
.testimonial-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 15px;
}

/* Nombre */
.testimonial-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* Texto */
.testimonial-description {
    font-size: 15px;
    line-height: 1.6;
    color: #444;
}

.testimonial-rating {
    position: absolute;
    bottom: 26px;
    right: 32px;
}

/* ===== FLECHAS ===== */
.testimonial .swiper-button-prev,
.testimonial .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px !important;
    top: auto !important;
    width: 50px !important;
    height: 50px !important;
    background-color: #2f5f7a;
    color: white !important;
    border-radius: 50%;
    transition: transform .2s ease;
}

.testimonial .swiper-button-prev svg,
.testimonial .swiper-button-next svg {
    width: 20px !important;
    height: 20px !important;
}

/* Posición centrada debajo */
.testimonial .swiper-button-prev {
    left: calc(50% - 70px) !important;
}

.testimonial .swiper-button-next {
    right: calc(50% - 70px) !important;
}

/* Ocultar iconos default de Swiper */
.testimonial .swiper-button-prev::after,
.testimonial .swiper-button-next::after {
    display: none;
}
