.home-carousel {
    margin: 40px 0;
    padding-inline: 10px;
}

.carousel-title {
    margin-block: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-gris-oscuro);
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.product-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.price {
    font-weight: bold;
    margin: 10px 0;
}
