.home-carousel {
    margin: 40px 0;
    padding-inline: 10px;
    background: linear-gradient(to bottom, #fffdf5 0%, #f3efe5 50%, #fffdf5 100%);
}

.carousel-title {
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-gris-oscuro);
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
}

.product-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.price {
    font-weight: bold;
    margin: 10px 0;
}

.swiper-product {
    display: flex !important;
    justify-content: center;
    width: 1680px;
}
